
body{

}
.background{

    background: url(template.jpg) no-repeat top center ; 
    background-size: cover;
    min-height: 1200px;
    width: 100%;
    max-width: 100%;
    overflow: scroll;
}
.content{
  width: 100%;
  height: 1200px;
}